* {font-family: 'Dancing Script', cursive;
font-family: 'Overpass', sans-serif;
font-family: 'Rajdhani', sans-serif;
background: #E9F7EF}



h1{color: #0B7704; font-size: 40px;}
h1 img{width: 50px;}
h2{color: #0B7704; font-size: 35px}

label{font-size: 30px;}

.inputvalor{height: 50px;
	width: 120px;
	font-size: 30px}

.inputvalor:hover{background: white}

.casvalue{height: 35px;
	width: 45px;}

.casdescuento{height: 50px;
	width: 60px;
	cursor: text;
	font-size: 30px}

.button {background: #F1948A;
	width: 250px;
	height: 65px;
	font-size: 30px }

.paga{font-size: 40px; background: #E74C3C;
}
.ahorro{font-size: 30px}



h4 img{
	width: 50px;

}
